Importing Libraries

In [1]:
import numpy as npy
import pandas as pf

Importing Files containing datasets

In [23]:
pd = pf.read_csv("adult.data.csv")
pd

                                                                                                                                                     |1x3 Cross validator
25  Private      226802  11th         7   Never-married       Machine-op-inspct  Own-child       Black               Male   0    0 40  United-States               <=50K.
38  Private      89814   HS-grad      9   Married-civ-spouse  Farming-fishing    Husband         White               Male   0    0 50  United-States               <=50K.
28  Local-gov    336951  Assoc-acdm   12  Married-civ-spouse  Protective-serv    Husband         White               Male   0    0 40  United-States                >50K.
44  Private      160323  Some-college 10  Married-civ-spouse  Machine-op-inspct  Husband         Black               Male   7688 0 40  United-States                >50K.
18  ?            103497  Some-college 10  Never-married       ?                  Own-child       White               Female 0    0 30  United-States               <=50K.
...                                                                                                                                                                   ...
39  Private      215419  Bachelors    13  Divorced            Prof-specialty     Not-in-family   White               Female 0    0 36  United-States               <=50K.
64  ?            321403  HS-grad      9   Widowed             ?                  Other-relative  Black               Male   0    0 40  United-States               <=50K.
38  Private      374983  Bachelors    13  Married-civ-spouse  Prof-specialty     Husband         White               Male   0    0 50  United-States               <=50K.
44  Private      83891   Bachelors    13  Divorced            Adm-clerical       Own-child       Asian-Pac-Islander  Male   5455 0 40  United-States               <=50K.
35  Self-emp-inc 182148  Bachelors    13  Married-civ-spouse  Exec-managerial    Husband         White               Male   0    0 60  United-States                >50K.

[16281 rows x 1 columns]

Giving Names to Columns

In [3]:
pd.columns=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','class']
pd.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

Replacing Missing Values with Nan

In [4]:
pd.replace(' ?',npy.nan,inplace=True)
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       30724 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      30717 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  31977 non-null  object
 14  class           32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Changing data types of object columns to string

Dropping 3rd Column 'fnlwgt'

In [5]:
pd[pd.columns[[1,3,5,6,7,8,9,13,14]]]=pd[pd.columns[[1,3,5,6,7,8,9,13,14]]].astype(str)

pd.drop(pd.columns[[2]],axis=1,inplace=True)
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   education       32560 non-null  object
 3   education-num   32560 non-null  int64
 4   marital-status  32560 non-null  object
 5   occupation      32560 non-null  object
 6   relationship    32560 non-null  object
 7   race            32560 non-null  object
 8   sex             32560 non-null  object
 9   capital-gain    32560 non-null  int64
 10  capital-loss    32560 non-null  int64
 11  hours-per-week  32560 non-null  int64
 12  native-country  32560 non-null  object
 13  class           32560 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

Replacing Nan Values with mode of respective columns

In [6]:
pd=pd.fillna(pd.mode())
pd.head(50)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,nan,>50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,nan,Some-college,10,Married-civ-spouse,nan,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
30,20,Private,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
31,45,Private,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
32,30,Federal-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
33,22,State-gov,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
34,48,Private,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
35,21,Private,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
36,19,Private,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
37,31,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,nan,>50K
38,48,Self-emp-not-inc,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
39,31,Private,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
40,53,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
41,24,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
42,49,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
43,25,Private,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
44,57,Federal-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
45,53,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
46,44,Private,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
47,41,State-gov,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
48,29,Private,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K
49,25,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Other,Female,0,0,40,United-States,<=50K

Defining a Node class denoting nodes in the tree

In [7]:
class Node():
    def __init__(self, feat_in=None, thresh=None, left=None, right=None, i_g=None, val=None):
        #constructor 
        
        # for decision node
        self.feat_in = feat_in
        self.thresh = thresh
        self.left = left
        self.right = right
        self.i_g = i_g
        
        # for leaf node
        self.val = val

Creating a DT Classifer Class to do the classification(Most important methods are included here)

In [8]:
class DTClassifier():
    def __init__(self, min_samples=2, depth=2):
        #constructor
        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples = min_samples
        self.depth = depth
        
    def build_tree(self, ds, depth_n=0):
        #recursive function to build the tree
        
        X, Y = ds[:,:-1], ds[:,-1]
        nsamples, nfeatures = npy.shape(X)
        
        # split until stopping conditions are met
        if nsamples>=self.min_samples and depth_n<=self.depth:
            # find the best split
            best_split = self.get_split(ds, nsamples, nfeatures)
            # check if information gain is positive
            if best_split["i_g"]>0:
                # recur left
                lsubtree = self.build_tree(best_split["lds"], depth_n+1)
                # recur right
                rsubtree = self.build_tree(best_split["rds"], depth_n+1)
                # return decision node
                return Node(best_split["feat_in"], best_split["thresh"], 
                            lsubtree, rsubtree, best_split["i_g"])
        
        # compute leaf node
        leaf_val = self.calculate_leaf(Y)
        # return leaf node
        return Node(val=leaf_val)
    
    def get_split(self, ds, nsamples, nfeatures):
        #function to find the best split
        
        # dictionary to store the best split
        best_split = {}
        max_ig = -float("inf")
        
        # loop over all the features
        for feat_in in range(nfeatures):
            feat_val = ds[:, feat_in]
            possible_thresh = npy.unique(feat_val)
            # loop over all the feature values present in the data
            for thresh in possible_thresh:
                # get current split
                lds, rds = self.split(ds, feat_in, thresh)
                # check if childs are not null
                if len(lds)>0 and len(rds)>0:
                    y, ly, ry = ds[:, -1], lds[:, -1], rds[:, -1]
                    # compute information gain
                    curr_ig = self.i_g(y, ly, ry)
                    # update the best split if needed
                    if curr_ig>max_ig:
                        best_split["feat_in"] = feat_in
                        best_split["thresh"] = thresh
                        best_split["lds"] = lds
                        best_split["rds"] = rds
                        best_split["i_g"] = curr_ig
                        max_ig = curr_ig
                        
        # return best split
        return best_split
    
    def split(self, ds, feat_in, thresh):
        #function to split the data
        
        lds = npy.array([row for row in ds if row[feat_in]<=thresh])
        rds = npy.array([row for row in ds if row[feat_in]>thresh])
        return lds, rds
    
    def i_g(self, par, lchild, rchild):
        #function to compute information gain
        
        lweight = len(lchild) / len(par)
        rweight = len(rchild) / len(par)
        gain = self.entropy(par) - (lweight*self.entropy(lchild) + rweight*self.entropy(rchild))
        return gain
    
    def entropy(self, y):
        #function to compute entropy
        
        clabels = npy.unique(y)
        entropy = 0
        for c in clabels:
            pc = len(y[y == c]) / len(y)
            entropy += -pc * npy.log2(pc)
        return entropy
        
    def calculate_leaf(self, Y):
        #function to compute leaf node
        
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def print_tree(self, tree=None, indent=" "):
        #function to print the tree
        
        if not tree:
            tree = self.root

        if tree.val is not None:
            print(tree.val)

        else:
            print("X_"+str(tree.feat_in), "<=", tree.thresh, "?", tree.i_g)
            print("%sleft:" % (indent), end="")
            self.print_tree(tree.left, indent + indent)
            print("%sright:" % (indent), end="")
            self.print_tree(tree.right, indent + indent)
    
    def fit(self, X, Y):
        #function to train the tree
        
        ds = npy.concatenate((X, Y), axis=1)
        self.root = self.build_tree(ds)
    
    def predict(self, X):
        #function to predict new dataset
        
        predictions = [self.predict_val(x, self.root) for x in X]
        return predictions
    
    def predict_val(self, x, tree):
        #function to predict a single data point 
        
        if tree.val!=None: return tree.val
        feature_val = x[tree.feat_in]
        if feature_val<=tree.thresh:
            return self.predict_val(x, tree.left)
        else:
            return self.predict_val(x, tree.right)

Getting the X and Y values so that X is input and Y stands for the prediction

In [9]:
X = pd.iloc[:, :-1].values
Y = pd.iloc[:, -1].values.reshape(-1,1)

Creating an object of DTClassifier and running the method to get the DT for the dataset at hand

In [10]:
classifier = DTClassifier(min_samples=3, depth=3)
classifier.fit(X,Y)
classifier.print_tree()

X_6 <=  Husband ? 0.11667662719588845
 left:X_3 <= 12 ? 0.0966532475217039
  left:X_9 <= 5013 ? 0.07584781818809061
    left:X_3 <= 8 ? 0.03012301021835062
        left: <=50K
        right: <=50K
    right:X_0 <= 61 ? 0.05884873943583553
        left: >50K
        right: >50K
  right:X_9 <= 5013 ? 0.07349499817298577
    left:X_10 <= 1740 ? 0.04642814208460422
        left: >50K
        right: >50K
    right:X_0 <= 62 ? 0.015354216260991996
        left: >50K
        right: >50K
 right:X_9 <= 6849 ? 0.07146940710064004
  left:X_6 <=  Unmarried ? 0.0600423703727343
    left:X_3 <= 12 ? 0.028390920717155987
        left: <=50K
        right: <=50K
    right:X_3 <= 10 ? 0.07280866366914429
        left: <=50K
        right: >50K
  right:X_3 <= 10 ? 0.051892745869312945
    left:X_0 <= 20 ? 0.07416241578618166
        left: <=50K
        right: >50K
    right: >50K

Predicting the values from the test dataset

In [27]:
Y_pred = classifier.predict(X)
p=0
for i in range(len(Y_pred)):
    if Y_pred[i]==Y[i][0]:
        p+=1
acc=(p/len(Y_pred))*100
acc

84.44410319410319